/* ENGLISH CSS STYLESHEET */

/* Zero all margins and padding */
* {
margin: 0;
padding: 0;

}

/* Force scrollbar always for a more consistent navigation */
html { overflow-y: scroll; }

/* Control the default font, size, foreground color, and background color across all elements */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: black;
  background: #fff url('https://quark.parature.com/FileManagement/Download/5ce334483e5143a785fba42accf7df13') repeat-x;
  margin: 15px 0px;
}

/* Container for page */
div#parature_wrapper { 
margin: -5px auto; /* Remove auto, set to 0 for a left oriented portal */
width: 984px;
position: relative;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
overflow: hidden;
behavior: url(/public/fp/cfc/PIE.htc);
}

/* Header container, above main content */
div#parature_wrapper div#header {
float: left;
height: 125px;
}

/* Logo left above sidebar */
/*
div#parature_wrapper div#header a#logo {
width: 50px;
height: 60px;
float: left;
display: block;
background:  url("http://www.quark.com/images/styles/quarkLogo.png") 0px 0px no-repeat; 
}*/



/* Logo left above sidebar */
.support_appstudio_net div#parature_wrapper div#header a#logo {
position:absolute;
z-index:100;
width: 248px;
height: 74px;
left: 0px;
float: left;
display: block;
background:  url("https://quark.parature.com/FileManagement/Download/520f658c25e0443781227bf33474e850") 0px 0px no-repeat; 
/* Logo image ^^ To adjust logo positioning, adjust the numerical values. ^left ^top (Distance from) */
}
.quark_parature_com div#parature_wrapper div#header a#logo {
position:absolute;
z-index:100;
width: 248px;
height: 74px;
left: 0px;
float: left;
display: block;
background:  url("https://quark.parature.com/FileManagement/Download/b8f6ac06dd954b07b3abbc03b0ed79b8") 0px 0px no-repeat; 
/* Logo image ^^ To adjust logo positioning, adjust the numerical values. ^left ^top (Distance from) */
}
.itparature_quark_com div#parature_wrapper div#header a#logo {
position:absolute;
z-index:100;
width: 248px;
height: 74px;
left: 0px;
float: left;
display: block;
background:  url("http://www.quark.com/images/parature/logo_quark.png") 0px 0px no-repeat; 
/* Logo image ^^ To adjust logo positioning, adjust the numerical values. ^left ^top (Distance from) */
}

/* Banner right above main content */
div#parature_wrapper div#header div#banner {
width: 780px;
height: 107px;
float: left;
}

/* Main navigation layout and styling, absolutely positioned overlapping header */
div#parature_wrapper div#parature_navigation {
position: absolute;
width: 984px;
padding-top: 80px;
height: 27px; 
top: 0;
left: 0px;
}

/* Navigation menu text color */
div#parature_wrapper div#parature_navigation * { color: #4b4b4b; }
/* Padding for main navigation menu */
div#parature_wrapper div#parature_navigation ul.mainmenu { 
width: 977px;
padding: 5px 0px; 
position: relative;
background: #f1f1f1;
border: 1px solid #d5d5d5;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f1f1f1), to(#e4e4e4));
background: -webkit-linear-gradient(#f1f1f1, #e4e4e4);
background: -moz-linear-gradient(#f1f1f1, #e4e4e4);
background: -ms-linear-gradient(#f1f1f1, #e4e4e4);
background: -o-linear-gradient(#f1f1f1, #e4e4e4);
background: linear-gradient(#f1f1f1, #e4e4e4);
-pie-background: linear-gradient(#f1f1f1, #e4e4e4);
behavior: url(/public/fp/cfc/PIE.htc);

	-moz-box-shadow: 0px 0px 5px #bebebe;
	-webkit-box-shadow: 0px 0px 5px #bebebe;
	box-shadow: 0px 0px 5px #bebebe;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bebebe')";*/
	/* For IE 5.5 - 7 */
		/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bebebe');*/
}



/* Styling for selected navigation menu items */
div#parature_wrapper div#parature_navigation ul li.selected { text-decoration: underline; }
/* Styling for mouseover navigation menu items. */
div#parature_wrapper div#parature_navigation ul li:hover {   }
.support_appstudio_net div#parature_wrapper div#parature_navigation ul li:hover a { color: #00aeef;}
.quark_parature_com div#parature_wrapper div#parature_navigation ul li:hover a { color: #66b31a;}
.itparature_quark_com div#parature_wrapper div#parature_navigation ul li:hover a { color: #66b31a;}
/* Give the navigation menu nice separation */
div#parature_wrapper div#parature_navigation ul li { padding: 7px 25px; }
ul.mainmenu li { padding: 7px 35px !important; }

li#mli_splash, li#mli_knowledge_main, li#mli_SRSplash { border-right: 1px solid #bebebe; }

/* Put the welcome message above the menu */
div#parature_wrapper div#welcome { color: white; font-weight: bold; position: absolute; right: 20px; top: 70px; }
div#parature_wrapper div#welcome span#sla { display: none; }
div#parature_wrapper div#welcome span#welcome_email { padding-left: 10px; }
/* Float the entire menu system left */
div#parature_navigation ul li { float: left; }
div#parature_wrapper div#parature_navigation ul { margin: 0px 2px; padding: 5px 1px; float: left; }
/* Give the utility menu a little extra left padding */
div#parature_wrapper div#parature_navigation ul.utilitymenu { float: right; }
.support_appstudio_net div#parature_wrapper div#parature_navigation ul.utilitymenu li { 
width: 70px;
margin: 5px 0px 0px 10px;
text-align: center;
background: #2F88BB;
border: none;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2F88BB), to(#1E5985));
background: -webkit-linear-gradient(#2F88BB, #1E5985);
background: -moz-linear-gradient(#2F88BB, #1E5985);
background: -ms-linear-gradient(#2F88BB, #1E5985);
background: -o-linear-gradient(#2F88BB, #1E5985);
background: linear-gradient(#2F88BB, #1E5985);
-pie-background: linear-gradient(#2F88BB, #1E5985);
behavior: url(/public/fp/cfc/PIE.htc);
	-moz-box-shadow: 0px 2px 5px #6e6e6e;
	-webkit-box-shadow: 0px 2px 5px #6e6e6e;
	box-shadow: 0px 2px 5px #6e6e6e;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e')";*/
	/* For IE 5.5 - 7 */
		/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e');*/

}
.quark_parature_com div#parature_wrapper div#parature_navigation ul.utilitymenu li { 
width: 70px;
margin: 5px 0px 0px 10px;
text-align: center;
background: #66b31a;
border: none;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#66b31a), to(#407323));
background: -webkit-linear-gradient(#66b31a, #407323);
background: -moz-linear-gradient(#66b31a, #407323);
background: -ms-linear-gradient(#66b31a, #407323);
background: -o-linear-gradient(#66b31a, #407323);
background: linear-gradient(#66b31a, #407323);
-pie-background: linear-gradient(#66b31a, #407323);
behavior: url(/public/fp/cfc/PIE.htc);
	-moz-box-shadow: 0px 2px 5px #6e6e6e;
	-webkit-box-shadow: 0px 2px 5px #6e6e6e;
	box-shadow: 0px 2px 5px #6e6e6e;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e')";*/
	/* For IE 5.5 - 7 */
		/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e');*/

}
.itparature_quark_com div#parature_wrapper div#parature_navigation ul.utilitymenu li { 
width: 70px;
margin: 5px 0px 0px 10px;
text-align: center;
background: #66b31a;
border: none;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#66b31a), to(#407323));
background: -webkit-linear-gradient(#66b31a, #407323);
background: -moz-linear-gradient(#66b31a, #407323);
background: -ms-linear-gradient(#66b31a, #407323);
background: -o-linear-gradient(#66b31a, #407323);
background: linear-gradient(#66b31a, #407323);
-pie-background: linear-gradient(#66b31a, #407323);
behavior: url(/public/fp/cfc/PIE.htc);
	-moz-box-shadow: 0px 2px 5px #6e6e6e;
	-webkit-box-shadow: 0px 2px 5px #6e6e6e;
	box-shadow: 0px 2px 5px #6e6e6e;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e')";*/
	/* For IE 5.5 - 7 */
		/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e');*/

}

ul.utilitymenu{
	margin-top: -75px !important;
	margin-top: -75px !important;
	position: absolute;
	right: 0px;
	top: 65px;
	width: 260px;
}

#welcome_text, #welcome_firstname, #welcome_lastname, #welcome_email, #welcome_custnum{
	display: none;
}

.support_appstudio_net #Quark_Support_Plans,  .support_appstudio_net #Quark_Documentation, .support_appstudio_net  #Quark_Knowledge_Base,  .support_appstudio_net #Quark_My_Support, .support_appstudio_net #Quark_Live_Chat,  .support_appstudio_net  #Quark_Submit_a_Ticket, .support_appstudio_net #HelpDesk_My_Support, .support_appstudio_net #HelpDesk_Submit_a_Ticket {
	display: none;
}
.quark_parature_com #AppStudio_Support_Plans, .quark_parature_com  #AppStudio_Documentation, .quark_parature_com  #AppStudio_Knowledge_Base,  .quark_parature_com  #AppStudio_My_Support, .quark_parature_com #AppStudio_Live_Chat, .quark_parature_com #AppStudio_Submit_a_Ticket, .quark_parature_com #HelpDesk_My_Support, .quark_parature_com #HelpDesk_Submit_a_Ticket {
	display: none;
}
.itparature_quark_com #AppStudio_Support_Plans, .itparature_quark_com  #Quark_Support_Plans, .itparature_quark_com  #AppStudio_Documentation, .itparature_quark_com  #Quark_Documentation, .itparature_quark_com   #AppStudio_My_Support, .itparature_quark_com  #Quark_My_Support, .itparature_quark_com  #AppStudio_Submit_a_Ticket, .itparature_quark_com  #Quark_Submit_a_Ticket, .itparature_quark_com  #AppStudio_Knowledge_Base, .itparature_quark_com  #Quark_Knowledge_Base, .itparature_quark_com  #AppStudio_Live_Chat, .itparature_quark_com  #Quark_Live_Chat {
	display: none;
}

div#parature_wrapper div#parature_navigation ul.utilitymenu li a { 
color: #ffffff;
}
/* Contains submenu navigation + KBtree, left of content */
div#parature_wrapper div#sidebar {
width: 180px;
float: left;
clear: both;
}
/* Hide submenu on splash_asp */
/* HLEE -- commenting out to see if we get the tree on the side */
/*div#parature_wrapper div#sidebar ul.splash {
display: none;
} */

.splash_description, .splash_link{
	margin-left: 6px;
	display: block;
}

.splash_link{
	width: 220px;
	height: 17px;
	margin-top: 5px;
}
.splash_description{
	width: 130px;
	margin-top: 15px;
}

/* Submenu is located in sidebar, styling + layout */
.support_appstudio_net ul.submenu {
width: 979px;
position: absolute;
left: 0;
top: 107px;
margin: 10px 2px;
background: #14AEEF;
float: left;
behavior: url(/public/fp/cfc/PIE.htc);
}
.quark_parature_com ul.submenu {
width: 979px;
position: absolute;
left: 0;
top: 107px;
margin: 10px 2px;
background: #66b31a;
float: left;
behavior: url(/public/fp/cfc/PIE.htc);
}
.itparature_quark_com ul.submenu {
width: 979px;
position: absolute;
left: 0;
top: 107px;
margin: 10px 2px;
background: #66b31a;
float: left;
behavior: url(/public/fp/cfc/PIE.htc);
}

/* Reposition after javascript */
div#parature_wrapper div#sidebar ul.submenu {
position: relative;
right: auto;
top: auto;
left: auto;
padding: 0px;
}

/* Change background on mouseover */
ul.submenu li:hover {
color: #eeeeee;
}

/* Hide all submenu items by default */
ul.submenu li { display: none; }

/* Show online support submenus */
ul.knowledge_main li#mli_knowledge { display: block; }
ul.knowledge_main li#mli_glossary { display: block; }
ul.knowledge_main li#mli_download { display: block; }
ul.knowledge_main li#mli_troubleshooter { display: block; }

/* Show request support submenus */
ul.SRSplash li#mli_ticket { display: block; }
ul.SRSplash li#mli_email { display: block; }
ul.SRSplash li#mli_feedback { display: block; }
ul.SRSplash li#mli_contactUs { display: none; }
/* ul.SRSplash li#mli_realtime { display: block; } */ /*Original Setting - Grey Box is available on quark.parature.com */
ul.SRSplash li#mli_realtime { display: none; }
ul.splash li#realtime { display: none; }
.itparature_quark_com ul.SRSplash li#mli_realtime { display: none; }
ul.SRSplash li#mli_forum { display: block; }

/* Show my support submenus */
ul.my li#mli_myHistory { display: block; }
ul.my li#mli_myProfile { display: block; }
ul.my li#mli_myTickets { display: block; }
ul.my li#mli_myProducts { display: block; }
ul.my li#mli_myEmails { display: block; }
ul.my li#mli_myChats { display: block; }
.itparature_quark_com ul.my li#mli_myChats { display: none; }
ul.my li#mli_mySubscriptions { display: block; }
.itparature_quark_com ul.my li#mli_mySubscriptions { display: none; }
.itparature_quark_com ul.my li#mli_registerPending a#registerPending { display: none; }

/* KB tree, more styling on line 628 */
div#parature_wrapper div#treeView {
width: 155px;
padding: 5px;
position: absolute; /* Initially positioned absolutely, reduces pageflash */
left: 0px;
top: 107px;
margin: 10px;
background: #eee;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border: 1px solid #d1d1d1;
border-radius: 6px;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#ccc));
background: -webkit-linear-gradient(#eee, #ccc);
background: -moz-linear-gradient(#eee, #ccc);
background: -ms-linear-gradient(#eee, #ccc);
background: -o-linear-gradient(#eee, #ccc);
background: linear-gradient(#eee, #ccc);
-pie-background: linear-gradient(#eee, #ccc);
behavior: url(/public/fp/cfc/PIE.htc);
}
/* Reposition after javascript */
div#parature_wrapper #sidebar div#treeView {
position: relative;
left: auto;
top: auto;
/* hlee display: none; */
}
.splash_asp div#parature_wrapper #sidebar div#treeView {
display: none; 
}
.kbsplash_asp div#parature_wrapper #sidebar div#treeView, .kblist_asp div#parature_wrapper #sidebar div#treeView, .kbanswer_asp div#parature_wrapper #sidebar div#treeView {
position: inherit;
float: left;
}
/* Main content area */
div#parature_wrapper div#parature_content {
min-height: 400px;
background: white;
width: 970px; /* adjusted to 970 original setting was 984 This is to correct wrapping issue for Submit page and the Confirmation page */
margin: 0;
padding: 10px;
overflow: hidden;
clear: both;
}
.kbsplash_asp div#parature_wrapper div#parature_content, .kblist_asp div#parature_wrapper div#parature_content, .kbanswer_asp div#parature_wrapper div#parature_content {
width: 781px;
float: left;
margin-top: 40px;
clear: right;
}

/* Backround and stlying for poweredby and parature_footer */
div#parature_wrapper div#poweredby, div#parature_wrapper div#parature_footer {
clear: both;
}
div#parature_wrapper div#poweredby, div#parature_wrapper div#parature_footer p {
margin: 10px 10px 0px;
}
div#parature_wrapper div#poweredby, div#parature_wrapper div#parature_footer a {
color: #00aeef;
}
div#parature_wrapper div#poweredby, div#parature_wrapper div#parature_footer a:hover {
color: #000000;
}
/* Padding for poweredby container */
div#parature_wrapper div#poweredby { padding: 20px; }
/* Position the powered by and load time messages */
div#parature_wrapper div#poweredby { text-align: right; clear: both; }
div#parature_wrapper div#loadtime { text-align: right; padding: 0px; }

/* Position and style the search tools */
div#parature_wrapper div#parature_search { position: absolute; right: 265px; top: 0px; }
.itparature_quark_com div#parature_wrapper div#parature_search { position: absolute; right: 265px; top: 0px; display:none;}
div#parature_wrapper div#parature_search form#search input.searchText {
	float: left;
	padding-left: 7px;
	margin-right: 5px;
    height: 27px;
    width: 195px;
	background: #d3d3d3;
	border: 1px solid #969696;
	}
/* Advanced search link color */
div#parature_wrapper div#parature_search a.searchLinks { color: #595959; font-size: 12px; font-weight: normal; text-decoration: underline; }
/* Search button */
div#parature_wrapper div#parature_search form#search input.button {
	height: 16px;
	width: 16px;
	background: url("https://quark.parature.com/FileManagement/Download/e2049a0d5f0740febab54d433ade166d");
	border: none;
	font-size: 0px;
	cursor: pointer;
	margin: 7px 0 0 -27px;
	}
/* Mouseover button */
div#parature_wrapper div#parature_search form#search input.button:hover {
	background: url("https://quark.parature.com/FileManagement/Download/e2049a0d5f0740febab54d433ade166d");
}

/* Being picky - inset and outset styles on the search menu have the illusion of being off */
/* by one pixel.  Fix it cosmetically.                                                     */
div#parature_wrapper div#parature_search a.searchLinks { display: block; margin-top: 10px; }


/* IE7 does not inherit link colors from the body tag unfortunately */
div#parature_wrapper a { color: black; }

/* Control the look and feel of links */
div#parature_wrapper a { color: inherit; text-decoration: none; }

/* Control the look and feel of links */
div#parature_wrapper #parature_navigation a { color: inherit; font-weight: normal; text-decoration: none; }

/* Using inherit for color will use whatever is specified in the standard A tag value */
div#parature_wrapper a:visited { color: inherit; }

/* Using inherit for color will use whatever is specified in the standard A tag value */
div#parature_wrapper a:hover { color: inherit; text-decoration: none; }

/* Floating menu headings. KB + KBGlance */
div#parature_wrapper ol li.heading { font-size: 13px; font-weight: bold; background: #eee; border-bottom: 1px solid black; }

/* Give floating menus alternating row colors */
div#parature_wrapper ol li.alt2, div#parature_wrapper ol li.alt2 * { background-color: #f0f0f0; }

/* Give list tables alternating row colors, ticket pages */
div#parature_wrapper tr.alt2 td {
	background-color: #f0f0f0;
	}

/* Search term highlighting */
div#parature_wrapper span.highlight, span.errormessage { background: yellow; text-decoration: inherit;}

/* Table headers, ticket pages */
div#parature_wrapper th {
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #e0e0e0;
	}

/* Title and title description items to block elements and give them margin */
div#parature_wrapper h1.title, div#parature_wrapper span.titledesc { 
	display: block; margin-bottom: 10px; 
}
.support_center div#parature_wrapper span.titledesc { 
	display: none;
}
.support_center div#parature_wrapper h1.title {
	display: none;
}
div#parature_wrapper .welcome { 
	display: none;
	height: 290px;
	width: 700px;
	background: url('https://quark.parature.com/FileManagement/Download/51a5885c72a5455ebaf8a11a381d340b') no-repeat;
	padding: 85px 0px 0px 275px;
}
div#parature_wrapper .welcome p { 
	margin: 10px 0px;
}
div#parature_wrapper .welcome a { 
	text-decoration: underline;
}
div#parature_wrapper .welcome a:hover { 
	color: #00aeef;
}

.itparature_quark_com div#parature_wrapper .welcome .QuarkWelcome { 
	display: none;
}	

.itparature_quark_com div#parature_wrapper .welcome .AppStudioWelcome { 
	display: none;
}	
.quark_parature_com div#parature_wrapper .welcome .AppStudioWelcome { 
	display: none;
}
.quark_parature_com div#parature_wrapper .welcome .HelpDeskWelcome { 
	display: none;
}

.support_appstudio_net div#parature_wrapper .welcome .QuarkWelcome { 
	display: none;
}
.support_appstudio_net div#parature_wrapper .welcome .HelpDeskWelcome { 
	display: none;
}
.support_center div#parature_wrapper .welcome { 
	display: block;
}

/*.mylogin_asp .welcome, .kblist_asp .welcome, .kbanswer_asp .welcome, .tsfolder_asp .welcome, .feedback_asp .welcome, .tslist_asp .welcome, .tsresult_asp .welcome, .tsescalate_asp .welcome { 
	display: none;
}*/

/* Ensure our logo is visible even on short pages - this does not work on IE - set to logo height */
div#parature_wrapper { min-height: 107px; }

/* Ensure our logo is visible on IE (* html is the trick for IE), height is essentially min-height for IE only - set to logo height */
* html div#parature_wrapper { height: 107px; }

/* Styling for Splash menus */
div#parature_wrapper div#parature_content ul.splash {
position: relative;
behavior: url(/public/fp/cfc/PIE.htc);
}

/* Clearfix for splash menus */
div#parature_wrapper div#parature_content .splash:before,
div#parature_wrapper div#parature_content .splash:after {
    content:"";
    display:table;
}
div#parature_wrapper div#parature_content .splash:after {
    clear:both;
}
div#parature_wrapper div#parature_content .splash {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* Make all the ordered lists float left. Width set to get 2 across with room for margin + padding */
div#parature_wrapper ol { float: left; width: 47%; margin: 0 5px 20px;}

/* QuickLinks are hidden initially */
div#parature_wrapper div#parature_quicklink ol#parature_quickLinks { display: none; }
div#parature_wrapper div#parature_quicklink { position: absolute; top: 82px; right: 0px; margin: 0px; padding: 0px; }
div#parature_wrapper div#parature_quicklink { position: absolute; top: 82px; right: 0px; margin: 0px; padding: 0px; }
div#parature_wrapper div#parature_quicklink select { 
  padding: 2px;
  width: 175px;
}

/* Images for splash page items (48x48px images) */
div#parature_wrapper div#parature_content ul.splash li#knowledge { background-image: url('https://quark.parature.com/FileManagement/Download/437796ccf33a4b6eacbce0782d3d5f77'); }
.itparature_quark_com div#parature_wrapper div#parature_content ul.splash li#knowledge { background-image: url('http://www.quark.com/images/parature/knowledge_base.png');display: none; }
.itparature_quark_com div#parature_wrapper div#parature_content ul.splash li#realtime { background-image: url('http://www.quark.com/images/parature/live_chat.png');display: none; }
div#parature_wrapper div#parature_content ul.splash li#download { background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_dl.png); }
div#parature_wrapper div#parature_content ul.splash li#troubleshooter { background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_tb.png); }
div#parature_wrapper div#parature_content ul.splash li#ticket {background-image: url('https://quark.parature.com/FileManagement/Download/5afa898ada1e4ba9a5b9ecd863462199');}
div#parature_wrapper div#parature_content ul.splash li#realtime { background-image: url('https://quark.parature.com/FileManagement/Download/84770e0792554fce9522426525d9371c'); }
div#parature_wrapper div#parature_content ul.splash li#feedback { background-image: url('https://quark.parature.com/FileManagement/Download/0203bdff3a174a6a836670a94e720b14'); }
div#parature_wrapper div#parature_content ul.splash li#emaillnk { background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_em.png); }
div#parature_wrapper div#parature_content ul.splash li#forum { background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_fr.png); }
div#parature_wrapper div#parature_content ul.splash li#contactUs { background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_cu.png); }

/* Make sure that "Most Viewed" and "Most Recent" KB topic lists on Splash always start in a new line */
div#parature_wrapper div#parature_content div#kbGlance { clear: left; display: none;}
div#parature_wrapper div#parature_content div#kbGlance ol { width: 47%; padding: 5px; margin: 5px; }

/* "My Recent Requests" is hidden by default. */
div#parature_wrapper div#parature_content div#myrecent { clear: left; display: none;}

/* Default margins are a strong by default on headings */
h1, h2, h3, h4, h5, h6 { margin: 0px 0px 10px 0px; }

/* No SLA displayed please */
div#parature_wrapper span#welcome_sla { display: none; }

/* No padding or margins for forms */
div#parature_wrapper form { margin: 0px; padding: 0px; }

/* All tables are 100% width */
div#parature_wrapper .tableList table { width: 100%; border-collapse:collapse; margin: 10px 0px; }
div#parature_wrapper .tableList th { text-align: left; height: 20px; }
div#parature_wrapper .tableList td { height: 25px; }
/*div#parature_wrapper div#otherTicketOptions { margin-bottom: 20px;}*/

/* Tree view tables have no bottom margin (YUI treeview) */
div#parature_wrapper div#treeView table { margin: 0px; }

/* Let search results be full width on the screen and make the category stand off only smaller */
div#parature_wrapper ol.searchResults { width: auto; }
div#parature_wrapper ol.searchResults span.articleLocation { display: block; margin: 5px 0px 10px 0px; font-size: .90em; }
div#parature_wrapper span.articleText { padding-left: 15px; }
div#parature_wrapper ol.searchResults a { text-decoration: underline; }

/* Use relative font sizes so main font size above controls font sizes on a relative scale */
div#parature_wrapper h1 { font-size: 1.6em; }
div#parature_wrapper h2 { font-size: 1.5em; }
div#parature_wrapper h3 { font-size: 1.4em; }
div#parature_wrapper h4 { font-size: 1.3em; }
div#parature_wrapper h5 { font-size: 1.2em; }
div#parature_wrapper h6 { font-size: 1.1em; }

/* Setup the margin and padding for order and unordered lists */
div#parature_wrapper div#parature_content ul, div#parature_content div#parature_wrapper ol { margin: 0px; padding: 0px; }

/* Disable all list item numbers and bullets and give some padding (both ordered and unordered lists) */
div#parature_wrapper li { list-style-type: none; }
ul.submenu li{
	list-style-type: none;
	padding: 5px 25px;
	float: left;
	color: #ffffff;
}
div#parature_wrapper li.more { font-size: 0.75em; margin-top: 5px; font-style: italic; }

/* Float links right, but make descriptions blocks to stop them from wrapping around the links */
div#parature_wrapper ol li span.item { float: right; }
div#parature_wrapper ol li span.desc { display: block; min-height: 1em; }
div#parature_wrapper div.module_content ol.alt1 { clear: both; }
div#parature_wrapper div.module_content ol.module_folder_list li { clear: both; }

/* Slightly different margining for the Title on KB pages */
body.dllist_asp div#parature_wrapper h1.title,
body.kbanswer_asp div#parature_wrapper h1.title,
body.kblist_asp div#parature_wrapper h1.title,
body.kbanswer_asp #parature_wrapper h1.title { font-size: 14px; margin: 30px 5px 15px; }

div#parature_wrapper div#parature_content .article {
line-height: 20px ;
}

div#parature_wrapper div#parature_content .topicList {
line-height: 20px ;
}

/* Spacing between article and rating widget */
/*#parature_wrapper #articleAnswer {
margin-bottom: 30px;
} */
div#parature_wrapper #articleAnswer ul,
div#parature_wrapper #articleAnswer ol {
	float: none;
	width: auto;
}
div#parature_wrapper #articleAnswer ul li,
div#parature_wrapper #articleAnswer ol li {
	margin-left: 30px;
}

div#parature_wrapper #articleAnswer ol ul li
{
	list-style: disc !important;
}

div#parature_wrapper #articleAnswer ul li {
	list-style: disc;
}

div#parature_wrapper #articleAnswer ul ol li {
	list-style: decimal !important;
}

div#parature_wrapper #articleAnswer ol li {
	list-style: decimal;
}

/* Put the breadcrumbs to the top right of the content area, inject a separator, and shrink the font */
div#parature_wrapper div#breadcrumbs { position: absolute; left: 200px; top: 125px;}
div#parature_wrapper div#breadcrumbs span.breadcrumb { 
    padding-left: 5px;
    padding-right: 12px;
    background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_pointArrow.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}
div#parature_wrapper div#breadcrumbs span.last { 
    padding-right: 0px;
    background-image: none;
}

/* Rating at the bottom of the article */
div#parature_wrapper div#ratingContent {
border: 1px solid #d1d1d1;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
margin-bottom: 20px;
padding: 20px;
float: left;
position: relative;
behavior: url(/public/fp/cfc/PIE.htc);
}
div#parature_wrapper div#ratingContent span { font-weight: bold; }
div#parature_wrapper div#ratingContent a { color: blue; text-decoration: underline; }

#subscriptionContent { 
clear: left;
}

/* Folder description for downloads */
div#parature_wrapper span.downloadFolderMetadata { display: block; }

/* Download lists */
div#parature_wrapper div.dlcontent span.item { float: none; }

/* Article utilities as inline items between the title and content on the page */
div#parature_wrapper div#kbutility ul#utility { clear:both; padding: 0px; margin: 0px; }
div#parature_wrapper div#kbutility ul#utility li { 
    float: left; 
    font-size: .75em; 
    padding-left: 17px;
    padding-right: 5px;
    background-image: url(/ics/support/accounts/7352/assets/portal_icons/99_nf_gear.gif);
    background-repeat: no-repeat;
    background-position: left center;
}
div#parature_wrapper div#breadcrumbs ul#utility li.last { 
    padding-right: 0px;
    background-image: none;
}

/* A list of related topics, showing at the bottom of an Article */
div#parature_wrapper div#relatedTopics { padding-top: 10px; clear: left; }
div#parature_wrapper div#relatedTopics span.sectionTitle { font-weight: bold; }
div#parature_wrapper div#relatedTopics ul { margin-top: 0px; }
div#parature_wrapper div#relatedTopics ul li { margin-left: 10px; list-style-type: circle; }
div#parature_wrapper div#relatedTopics ul li a { font-weight: normal; }

/* Topic information into an inline list at the bottom of the document */
div#parature_wrapper div#topicInformation ul { margin: 0px; padding: 0px; clear: both; }
div#parature_wrapper div#topicInformation ul  li { float: left; font-size: .75em; padding-right: 5px; }
div#parature_wrapper div#topicInformation span.sectionTitle { display: none; }

/* cssLink gets used on things that are non-anchor links */
.cssLink { cursor: pointer; }

/* Style forms */
div#parature_wrapper span.formheader { display: block; font-size: 1.1em; margin-bottom: 10px; }
div#parature_wrapper fieldset {
	border: 1px solid #d1d1d1;
	margin-top: 10px;
	padding: 0 0 20px 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	clear: left;
	position: relative;
	behavior: url(/public/fp/cfc/PIE.htc);
	}

	/* to hide the contact info box */
.itparature_quark_com div#parature_wrapper fieldset.customerinfo {
               display: none;
}

/* to hide my chat history box */
.itparature_quark_com div#parature_wrapper div#MyChatHistory {
               display: none;
}

	/*Fix for attachment box on Submit Ticket page */	
div#parature_wrapper fieldset fieldset {
    border: none;
	margin: 20px 0;
	padding: 0;
}
div#parature_wrapper fieldset legend { margin: 20px; font-size: 1.3em; font-weight: bold; }
div#parature_wrapper div.formField { display: block; margin: 10px 0px; clear: both; }
div#parature_wrapper div.formField label { font-weight: bold; width: 100px; text-align: right; padding: 0px 5px 10px 0px; font-size: .90em; }

/* Ensure, if input spans across couple lines (Readonly fields for example), alignment to the left will be consistent. */
div#parature_wrapper div.formField div.forminput { } 
div#parature_wrapper div.formField div.forminput span.radio { margin: 0 10px 0 3px; }
div#parature_wrapper div.formField select { width: 203px; }
div#parature_wrapper div.formField select.datedropdown { width: auto; }
div#parature_wrapper div.formField input, div.formField textarea { width: 200px;  }
div#parature_wrapper div.formField select[multiple] { height: 104px; }
div#parature_wrapper div.formField textarea { height: 100px; width: 500px; }
div#parature_wrapper iframe#upFrame { display: none; }
div#parature_wrapper div.buttonContainer { clear: both; }
div#parature_wrapper input#questionID { width: 100px; }
div#parature_wrapper div#advanceSearchOptions a.contentLinks { display: block; margin: 10px; }
div#parature_wrapper div.formField input[type=radio] { width: auto; }
div#parature_wrapper div.formField input[type=checkbox] { width: auto; }
div#parature_wrapper div.formField input[type=button] { width: auto; }
div#parature_wrapper div.formField input[type=submit] { width: auto; }
div#parature_wrapper div.hiddenfield { display: none; } /* Declares this after div.formField to override the display property. */
div#parature_wrapper div#statusLegend { border: 1px solid #d1d1d1; }
div#parature_wrapper div#ROW_100368 * { float: left; width: auto; } /* Product line */
div#parature_wrapper form#login div#buttonContainer { margin-bottom: 15px; }
div#parature_wrapper form#login p.formText a { text-decoration: underline; color: blue; }
div#parature_wrapper div#attachUI span#attachFileLink { text-decoration: underline; color: blue; font-weight: bold; }

/* Quick ticket search form is special */
div#parature_wrapper form.ticketsearch ul { margin: 0px; padding: 0px; height: 36px; }
div#parature_wrapper form.ticketsearch ul li { float: left; }

/* Update password check box needs some special positioning */
div#parature_wrapper div.formField label.changepw { postition: absolute; float: none; }

/* Crazy trouble shooter search results! */
div#parature_wrapper div#searchResults { margin: 0px 0px 10px 0px; }
div#parature_wrapper div.questionAnswerGroup { margin: 5px 0px 0px 10px; }
div#parature_wrapper div.tsResultQuestionGroup { margin: 0px 0px 10px 0px; }
div#parature_wrapper div.questionAnswerGroup span.expandIcon { display: none; }

/* Splash items float left with 64px margin left to make room for 48px images set above */
div#parature_wrapper div#parature_content ul.splash li {
  float: left;
  width: 228px;
  height: 172px;
  margin: 0px 3px 0px 0px;
  background-repeat: no-repeat;
  padding: 3px 5px;
  /*  background-position: 8px 8px;*/
}


/* Make the links for the splash stand out alone in the blocks */
div#parature_wrapper div#parature_content ul.splash li a {
  display: block;
  margin-bottom: 5px;
  font-size: 1.4em;
}

/* customTabs */
#parature_wrapper #parature_content iframe.parature_customTab {
    border: medium none;
    min-height: 800px;
    width: 740px;
}

/* Style the glossary */
div#parature_wrapper ul#glossary_alphabets li { float: left; padding: 0px; }
div#parature_wrapper ul#glossary_alphabets li a { padding: 0px 4px 0px 4px; }
div#parature_wrapper div.glossaryTerm { clear: both; padding-top: 10px; }
div#parature_wrapper span.alphabetHeader { display: block; font-weight: bold; font-size: 1.2em; }
div#parature_wrapper ul.alphabetTerms span.entryTerm { float: left; font-weight: bold; width: 100px; text-align: right; }
div#parature_wrapper ul.alphabetTerms span.entryDescription { display: block; padding-left: 110px; }

/* Spaceing between glossary letters */
div#parature_wrapper ul#glossary_alphabets li:after { content: '-'; }
div#parature_wrapper ul#glossary_alphabets li:last-child:after { content: ''; }

/* Ticket Feedback */
div#parature_wrapper div#parature_content fieldset#ticketFeedback { position: relative; }
div#parature_wrapper div#parature_content fieldset#ticketFeedback table { margin-left: 10px; }
div#parature_wrapper div#parature_content fieldset#ticketFeedback span.formheader { display: block; margin-left: 5px; }
/* Faux button for provide feedback link */
div#parature_wrapper div#parature_content fieldset#ticketFeedback span.formheader a {
background: #eee;
position: relative;
padding: 6px;
border: 1px solid #d1d1d1;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#ccc));
background: -webkit-linear-gradient(#eee, #ccc);
background: -moz-linear-gradient(#eee, #ccc);
background: -ms-linear-gradient(#eee, #ccc);
background: -o-linear-gradient(#eee, #ccc);
background: linear-gradient(#eee, #ccc);
-pie-background: linear-gradient(#eee, #ccc);
behavior: url(/public/fp/cfc/PIE.htc);
}
div#parature_wrapper div#parature_content fieldset#ticketFeedback span.formheader a:hover {
background: white;
}
div#parature_wrapper div#parature_content fieldset#ticketFeedback td.feedbackQuestion {
    white-space: nowrap;
    padding-right: 10px;
}
div#parature_wrapper div#parature_content fieldset#ticketFeedback td.feedbackResponse,
div#parature_wrapper div#parature_content fieldset#ticketFeedback td.feedbackResponseComment {
    width: 100%;
}

/* Style treeview header */
div#treeView h4.treeViewRoot {
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
	border-bottom: 1px solid white;
	}

/* treeView styling */
div#treeView div.treeViewChildFolders {
overflow: hidden;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
position: relative;
behavior: url(/public/fp/cfc/PIE.htc);
}

div#treeView div.ygtvchildren {
background-color: transparent;
border: transparent;
}

div#treeView a:link, div#treeView a:visited, div#treeView a:hover {
	text-decoration: none;
	color: #252525;
	}

div#treeView tbody:hover {
	background-color: #d1d1d1 !important; 
}

a.ygtvlabel, a.ygtvlabel:link, a.ygtvlabel:visited, a.ygtvlabel:hover {
    background-color: transparent;
}
table .ygtvfocus {
    background-color: transparent;
    border: medium none;
}

table .ygtvfocus:hover {
    background-color: transparent;
    border: medium none;
}

table .ygtvfocus .ygtvlabel, table .ygtvfocus .ygtvlabel:link, table .ygtvfocus .ygtvlabel:visited, table .ygtvfocus .ygtvlabel:hover {
    background-color: transparent;
}
#treeView .ygtvtn {
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    width: 1em;
}
#treeView .ygtvtm {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/collapse.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvtmh {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/collapseh.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvtp {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/expand.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvtph {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/expandh.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvln {
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    width: 1em;
}
#treeView .ygtvlm {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/collapse.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvlmh {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/collapseh.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvlp {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/expand.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvlph {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/expandh.gif") no-repeat scroll 0 6px transparent;
    cursor: pointer;
    height: 22px;
    width: 1em;
}
#treeView .ygtvloading {
    background: url("https://developer.yahoo.com/yui/examples/treeview/assets/img/menu/loading.gif") no-repeat scroll 0 6px transparent;
    height: 22px;
    width: 1em;
}
#treeView .ygtvdepthcell {
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    width: 1em;
}
#treeView .ygtvblankdepthcell {
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    width: 1em;
}
#treeView .ygtvitem {
    border: 0 solid grey;
	margin: 5px 0px;
}

* html .ygtvchildren {
    height: 1%;
}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
    font-size: 11px;
	color: #252525;
	margin-left: 0px !important;
	}
.support_appstudio_net #treeView #ygtv6, .support_appstudio_net #treeView #ygtv14, .support_appstudio_net #treeView #ygtv18, 
.support_appstudio_net #treeView #ygtv21, .support_appstudio_net #treeView #ygtv25, .support_appstudio_net #treeView #ygtv29, 
.support_appstudio_net #treeView #ygtv32, .support_appstudio_net #treeView #ygtv37, .support_appstudio_net #treeView #ygtv42 {
	display: none;
}

/* End KB Styling */

/* EasyAnswer */
/* Allow EasyAnswer content to be rendered inside YUI panel */
div#divEasyAnswer_overlayContent { overflow: auto; }

.easyAnswer {
    margin: 15px 0;
    padding: 3px;
    font-family: Arial;
    font-size: 12px;
}

#divEasyAnswer table {
    width: 500px; /* controls width of EasyAnswer results */
    border-collapse: collapse;
}

/* EasyAnswer Header */
.easyAnswerHeader {
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
}

/* EasyAnswer Instructions */
.easyAnswerInstructions {
    padding: 2px;
}

/* EasyAnswer Search Results Box */
.easyAnswerResultsBox td {
    border-bottom: 6px solid #FFFFFF;
}

.easyAnswerResultsBox .yui-dt table,
.easyAnswerResultsBox .yui-dt td {
    border: none !important;
    font-family: Arial; /* Needed for IE quirks mode */
    font-size: 12px; /* Needed for IE quirks mode */
}

/* EasyAnswer Subheader (e.g. Knowledgebase, Downloads) */
.easyAnswerResultsBox .yui-dt th,
.easyAnswerResultsBox .yui-dt .yui-dt-label {
    border: none !important;
    text-align: left;
    font-weight: bold;
}


/* EasyAnswer Result Even Row */
.easyAnswerResultsBox .yui-dt tr.yui-dt-even,
.easyAnswerResultsBox .yui-dt tr.yui-dt-first td {
    background-color: #FAFAFA;
    border: none;
}

/* EasyAnswer Result Odd Row */
.easyAnswerResultsBox .yui-dt tr.yui-dt-odd {
    background-color: #EEEEEE;
    border: none;
}

.easyAnswerResultHighlight {
    background-color: #FFFF00;
}

.easyAnswerSearchResultTitle {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
}

.easyAnswerNoResults {
    font-style: italic;
    padding: 2px;
}

/* EasyAnswer Pagination */
.easyAnswer #yui-dt0-paginator0,
.easyAnswer #yui-dt1-paginator0 {
    display: none; /* display pagination control on the bottom only */
}

.easyAnswer #yui-dt0-paginator1,
.easyAnswer #yui-dt1-paginator1 {
    display: inline; /* fixes IE double margin bug */
}

.easyAnswerPagination {
    float: right; /* align pagination control to right */
    padding: 6px 0px 6px 0px;
}


.easyAnswerPagination .yui-pg-previous,
.easyAnswerPagination .yui-pg-next {
    border: 1px solid #ccdbe4;
    display: inline;
    color: #3666d4;
    background-color: #ffffff;
    float: left;
    margin: 0px 5px 0px 0px;
    padding: 2px 8px 2px 8px;
    text-align: center;
    text-decoration: none;
}

.easyAnswerPagination span.yui-pg-previous,
.easyAnswerPagination span.yui-pg-next{
    visibility: hidden;
}

.easyAnswerPagination .yui-pg-page {
    border: 1px solid #ccdbe4;
    display: inline;
    color: #3666d4;
    background-color: #ffffff;
    float: left;
    margin: 0px 5px 0px 0px;
    padding: 2px 8px 2px 8px;
    text-align: center;
    text-decoration: none;
}

.easyAnswerPagination .yui-pg-current-page {
    border-color: none;
    border-width: 0px;
    border-style: none;
    display: inline;
    color: #000000;
    background-color: #EEEEEE;
    float: left;
    font-size: 108%;
    font-weight: 700;
    padding: 2px 6px 2px 6px;
}

.easyAnswerPagination .yui-pg-page:hover,
.easyAnswerPagination .yui-pg-previous:hover,
.easyAnswerPagination .yui-pg-next:hover {
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: none;
    background-position: 0% 0%;
    background-color: #EEEEEE;
    border-color: #CCCCCC;
    color: #ffffff;
}


/* EasyAnswer Preview Panel */
.easyAnswerPreviewPanel .contentHead2 {
    font-size: 1.3em;
    font-weight: bold;
}

.easyAnswerNotificationBar {
    font-family: Arial;
    font-size: 12px;
    display: block;
    width: 100%;
    position: fixed;
    top: auto;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    bottom: 0;
    color: #000000;
    font-weight: bold;
    height: 2.5em;
    left: 0;
    margin: 0;
    text-align: center;
    z-index: 2000;
    line-height: 1.5em;
    text-decoration: underline;
}

/* IE quirks mode fix */
* html .easyAnswerNotificationBar {
    position: absolute;
    top: expression(eval(document.compatMode &&
        document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop +
                (documentElement.clientHeight - this.offsetHeight) :
            document.body.scrollTop +
                (document.body.clientHeight - this.offsetHeight));
    width: expression(document.body.clientWidth);
    cursor: pointer;
}

.easyAnswerNotificationBar:hover {
    background-color: #FFFFCC;
    cursor: pointer;
}


.support_appstudio_net #kbfolder_6, .support_appstudio_net #kbfolder_8, .support_appstudio_net #kbfolder_11, .support_appstudio_net #kbfolder_12, .support_appstudio_net #kbfolder_26, .support_appstudio_net #kbfolder_62, .support_appstudio_net #kbfolder_63, .support_appstudio_net #kbfolder_64, .support_appstudio_net #kbfolder_65 {
	display: none;
}


/* Change and Remove Buttons */

#changeContactLink, #removeContactLink {
	padding: 3px 15px;
	margin-right: 10px;
	background: #66b31a;
	border: none;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#66b31a), to(#407323));
	background: -webkit-linear-gradient(#66b31a, #407323);
	background: -moz-linear-gradient(#66b31a, #407323);
	background: -ms-linear-gradient(#66b31a, #407323);
	background: -o-linear-gradient(#66b31a, #407323);
	background: linear-gradient(#66b31a, #407323);
	-pie-background: linear-gradient(#66b31a, #407323);
	behavior: url(/public/fp/cfc/PIE.htc);
	-moz-box-shadow: 0px 2px 5px #6e6e6e;
	-webkit-box-shadow: 0px 2px 5px #6e6e6e;
	box-shadow: 0px 2px 5px #6e6e6e;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e')";*/
	/* For IE 5.5 - 7 */
		/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e');*/
}

.support_appstudio_net #changeContactLink, #removeContactLink {
	padding: 3px 15px;
	margin-right: 10px;
	background: #2F88BB;
	border: none;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2F88BB), to(#1E5985));
	background: -webkit-linear-gradient(#2F88BB, #1E5985);
	background: -moz-linear-gradient(#2F88BB, #1E5985);
	background: -ms-linear-gradient(#2F88BB, #1E5985);
	background: -o-linear-gradient(#2F88BB, #1E5985);
	background: linear-gradient(#2F88BB, #1E5985);
	-pie-background: linear-gradient(#2F88BB, #1E5985);
	behavior: url(/public/fp/cfc/PIE.htc);
	-moz-box-shadow: 0px 2px 5px #6e6e6e;
	-webkit-box-shadow: 0px 2px 5px #6e6e6e;
	box-shadow: 0px 2px 5px #6e6e6e;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e')";*/
	/* For IE 5.5 - 7 */
		/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e');*/
}

#changeContactLink .contentLinks, #removeContactLink .contentLinks {
	color: #ffffff;
}

/* Popup z-index */

.parature_page_content #quickselect {
	z-index: 10 !important;
}
#ROW_90226 {
       display: none !important;
}

/* To hide One login link on Quark and AppStudio */



/* Login Page Adjustments */

body.itparature_quark_com.mylogin_asp div.parature_page_content span.errormessage { display: none; }

body.itparature_quark_com.mylogin_asp div.parature_page_content form#login { display: none; }

body.itparature_quark_com.mylogin_asp div.parature_page_content form#signupform { display: none; }
body.quark_parature_com.mylogin_asp div.parature_page_content form#signupform { display: none; }
body.support_appstudio_net.mylogin_asp div.parature_page_content form#signupform { display: none; } 

body.itparature_quark_com.mylogin_asp div.parature_page_content span.formheader { font-weight: bold; }

body.itparature_quark_com.mylogin_asp div#parature_wrapper div.parature_page_content div.ssologin a { color: #00aeef; }

body.itparature_quark_com.mylogin_asp div#parature_wrapper div.parature_page_content div.ssologin a:hover { color: #333333; }

/*Submit a Ticket Changes*/

.itparature_quark_com div#parature_wrapper fieldset.ticketdetails div#ROW_92828 { display: none; }

.itparature_quark_com div#parature_wrapper select#customerlist { display: none; } /*To remove the cc box*/

.itparature_quark_com div#parature_wrapper div.CustCClist input { display: none; } /*To remove the cc box button*/

/*To correct the width issue on Ticket Confirmation*/

.itparature_quark_com div#parature_wrapper #ticketConfirmation { width: 970px; }
.itparature_quark_com div#parature_wrapper #ticketConfirmationContactUs { width: 970px; }
.itparature_quark_com div#parature_wrapper .titledesc { width: 970px; }

/* Customizations by Parature */

.itparature_quark_com .mylogin_asp div.parature_page_content span.errormessage { display: none; }

/*.mylogin_asp div.parature_page_content form#login { display: none; } .formheader.undefined,*/
body.quark_parature_com.mylogin_asp .parature_page_content > .ssologin {
                display: none !important;
}
body.quark_parature_com.mylogin_asp .parature_page_content > .formheader.undefined {
                display: none !important;
}
body.support_appstudio_net.mylogin_asp .parature_page_content > .ssologin {
                display: none !important;
}
body.support_appstudio_net.mylogin_asp .parature_page_content > .formheader.undefined {
                display: none !important;
}

.itparature_quark_com .mylogin_asp div.parature_page_content form#signupform { display: none; }

.itparature_quark_com .mylogin_asp div.parature_page_content span.formheader { font-weight: bold; }

.itparature_quark_com .mylogin_asp div#parature_wrapper div.parature_page_content div.ssologin a { color: #00aeef; }

.itparature_quark_com .mylogin_asp div#parature_wrapper div.parature_page_content div.ssologin a:hover { color: #333333; }


.itparature_quark_com #HelpDesk_Submit_a_Ticket,
.itparature_quark_com #HelpDesk_My_Support
{ display: block !important; }

/* to hide Sign In and Exit buttons at top right */
/* div#parature_wrapper div#parature_navigation ul.utilitymenu { float: right; display: none; } */

/* to hide the exit button */
.itparature_quark_com div#parature_wrapper div#parature_navigation ul.utilitymenu li#mli_Exit { display: none; }
.itparature_quark_com div#parature_wrapper div#parature_navigation ul.utilitymenu li#mli_Login { float: right; }

/* to hide the product type field in Submit a ticket*/
.itparature_quark_com div#parature_wrapper fieldset.ticketdetails div#ROW_89843 { display: none; }

/*adding live chat button */
.chatBox {
	display: none;
}
.quark_parature_com.myhistory_asp .chatBox, .support_appstudio_net.myhistory_asp .chatBox {
	display: block;
	width: 270px;
	height: 100px;
	border: none;
	text-align: center;
	padding: 0px;
	float: right;
	margin-top: -34px;
}
.quark_parature_com.myhistory_asp .chatBox a.chatBoxAppStudio { 
	display: none;
}
.support_appstudio_net.myhistory_asp .chatBox a.chatBoxQuark { 
	display: none;
}

.quark_parature_com.myhistory_asp .chatBox a img, .support_appstudio_net.myhistory_asp .chatBox a img {
	border: none;
}	
.itparature_quark_com .quark_parature_com.myhistory_asp .chatBox {
display:none;
}


/* To add the Green bar under the support portal welcome message */

div#parature_wrapper a.grnButton:hover, div#parature_wrapper a.bluButton:hover {
	color:#F0F0F0;
}
div#parature_wrapper a.grnButton {
	color: #F0F0F0;
	padding: 6px 20px;
	text-decoration: none;
	background: #69b21d;
	background: -moz-linear-gradient(top,  #69b21d 0%, #427424 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69b21d), color-stop(100%,#427424));
	background: -webkit-linear-gradient(top,  #69b21d 0%,#427424 100%);
	background: -o-linear-gradient(top,  #69b21d 0%,#427424 100%);
	background: -ms-linear-gradient(top,  #69b21d 0%,#427424 100%);
	background: linear-gradient(to bottom,  #69b21d 0%,#427424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b21d', endColorstr='#427424',GradientType=0 );
	-moz-box-shadow:  0px  5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
div#parature_wrapper a.bluButton {
	color: #F0F0F0;
	padding: 6px 20px;
	text-decoration: none;
	background: #0089BC;
	background: -moz-linear-gradient(top, #0089BC 0%, #006492 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089BC), color-stop(100%,#006492));
	background: -webkit-linear-gradient(top, #0089BC 0%,#006492 100%);
	background: -o-linear-gradient(top, #0089BC 0%,#006492 100%);
	background: -ms-linear-gradient(top, #0089BC 0%,#006492 100%);
	background: linear-gradient(to bottom, #0089BC 0%,#006492 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089BC', endColorstr='#006492',GradientType=0 );
	-moz-box-shadow: 0px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

/* to hide purchase a ticket on Help Desk */

.itparature_quark_com div#parature_wrapper li#Purchase {
display: none;
}

/* to hide chat box on Help Desk */

.itparature_quark_com div#parature_wrapper li#Purchase {
display: none;
}

/* Paratures Maintenance Notice Message 
.mnotice {
border-bottom: 1px solid grey;
padding-bottom: 10px;
}
*/

/* to hide the maintenance message on the help desk portal */

.itparature_quark_com p.mnotice {
display: none;
}

/* to hide the Quark related products from the App Studio left navigation */

.support_appstudio_net table.ygtvdepth0 {
display: none;
} 
.support_appstudio_net table#ygtvtableel1 {
display: block;
}

/* For Related Accounts - move cancel button to the right side */

.parature_page_content .contentTable div#cancel {
float: right !important;
}

/* inline styling from myhistory.aspx */
.resizing {
    background-color: #E0E0E0;
}

#resize_table  th {
    cursor: w-resize;
}
#resize_table  th.unselectable::selection { background: transparent; }
#resize_table  th.unselectable::-moz-selection { background: transparent; }
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select:none;
}
select {
    background-color: inherit;
}

/* 2nd part of inline styling from myhistory.asp */
.errormessage,
.successmessage {
	display: block;
	font-weight: bold;
	color: green;
}

.errormessage {
	color: red;
}

#ROW_90226 {
	display: none;
}

#userWrapper {
	height: 182px;
	overflow-y: scroll;
	width: 750px;
	border: 1px solid #d1d1d1;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 10px;
}

#pendingDiv {
	margin-bottom: 10px;
}

#pendingDiv button {
	color: white;
	cursor: pointer;
	padding: 3px 15px;
	margin-right: 10px;
	background: #66b31a;
	border: none;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#66b31a), to(#407323));
	background: -webkit-linear-gradient(#66b31a, #407323);
	background: -moz-linear-gradient(#66b31a, #407323);
	background: -ms-linear-gradient(#66b31a, #407323);
	background: -o-linear-gradient(#66b31a, #407323);
	background: linear-gradient(#66b31a, #407323);
	-pie-background: linear-gradient(#66b31a, #407323);
	behavior: url(/public/fp/cfc/PIE.htc);
	-moz-box-shadow: 0px 2px 5px #6e6e6e;
	-webkit-box-shadow: 0px 2px 5px #6e6e6e;
	box-shadow: 0px 2px 5px #6e6e6e;
	/* For IE 8 */
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e')";*/
	/* For IE 5.5 - 7 */
		/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#6e6e6e');*/
}

.support_appstudio_net #pendingDiv button {
	background: #2F88BB;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2F88BB), to(#1E5985));
	background: -webkit-linear-gradient(#2F88BB, #1E5985);
	background: -moz-linear-gradient(#2F88BB, #1E5985);
	background: -ms-linear-gradient(#2F88BB, #1E5985);
	background: -o-linear-gradient(#2F88BB, #1E5985);
	background: linear-gradient(#2F88BB, #1E5985);
	-pie-background: linear-gradient(#2F88BB, #1E5985);
	behavior: url(/public/fp/cfc/PIE.htc);
}

#pendingDiv table {
	border-collapse : collapse;
	width: 100%;
}

#pendingDiv td {
	padding: 2px 3px;
}

#parature_wrapper #pendingDiv th {
	border: 0;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
}

#newCustomer {
	margin: 10px 0;
	border: 1px solid #d1d1d1;
	padding: 1px;
	width: 600px;
	border-radius: 6px;
	
}

control-messages div {
  color: #E82C0C;
  margin: 6px 0;
}

.container-table {
    display: table;
	height: 100%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.fade{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}